/* 
  Defined the Colors

  color: #1C1C1C;
  color: #7C7C7C;
  color: #491E3C;
  color: #431C53;
  color: #301934;
  color: #707070;
  color: #DDDDDD;
  color: #F6F8FA;
*/
@font-face {
  font-family: MontserratExtraLight;
  src: url(../fonts/Montserrat-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: MontserratSemiMedium;
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: MontserratBlack;
  src: url(../fonts/Montserrat-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: BalooBhaina2Regular;
  src: url(../fonts/BalooBhaina2-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: BalooBhaina2Medium;
  src: url(../fonts/BalooBhaina2-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: BalooBhaina2SemiBold;
  src: url(../fonts/BalooBhaina2-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: BalooBhaina2Bold;
  src: url(../fonts/BalooBhaina2-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: BalooBhaina2ExtraBold;
  src: url(../fonts/BalooBhaina2-ExtraBold.ttf);
  font-weight: 800;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: MontserratRegular;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
/* Responsive Max-width 1280px */
@media only screen and {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-column{
  flex-direction: column;
}
.s-between{
  justify-content: space-between;
}
.jc-c {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
p{
  margin: 0;
}

/* Defined the Width */
/* Column Width */
.col-1-2{
  width: 48.5%; 
  margin-bottom: 3%;
}
.col-1-3{
 width: 31.33%;
 margin-right: 3%;
}
.col-1-5{
  width: 17.6%;
  margin-right: 3%;
}
.col-2-3{
  width: 62.66%;
  margin-right: 3%;
}
/* Start Header */
.logo-nav-wrapper {
  width: 80%;
}
.search-register-wrapper {
  width: 20%;
}
.logo {
  width: 10%;
}
.header-navigation {
  width: 90%;
}
/* End Header */
/* Start Hero */
.hero-content {
  width: 70%;
}
.hero-img {
  width: 30%;
}
/* End Hero */

/* Define the Padding Properties */
.no-padding {
  padding: 0;
}
.pt-20 {
  padding-top: 20px;
}
.pt-100 {
  padding-top: 100px;
}
.pt-200 {
  padding-top: 200px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-100 {
  padding-bottom: 100px;
}
.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ptb-20-50 {
  padding-top: 20px;
  padding-bottom: 50px;
}
.ptrbl-10 {
  padding: 10px 10px 10px 10px;
}
.ptrbl-20 {
  padding: 20px 20px 20px 20px;
}

/* Define the Margin Properties */
.no-margin {
  margin: 0 !important;
}
.mt-100{
  margin-top: 100px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-100{
  margin-bottom: 100px;
}
.mr-20 {
  margin-right: 20px;
}
.mtb-20-40 {
  margin-top: 20px;
  margin-bottom: 40px;
}
.mtb-20-50 {
  margin-top: 20px;
  margin-bottom: 50px;
}
/* Defined the Globly Colors Classes */
.primary-color {
}
.secoundry-color {
  color: #431c53;
}
.secoundry-bgcolor {
  background-color: #431c53;
}
/* Style Button */
.btn {
  padding: 8px 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: MontserratRegular;
}
.register-btn {
  border-radius: 50px;
}
.register-btn,
.join-btn {
  color: #fff;
  font-weight: 600;
}
.join-btn,
.shop-btn {
  border-radius: 3px;
  border: 3px solid #431c53;
}
.shop-btn {
  color: #431c53;
  border: 3px solid #431c53;
}

/* Header */
.site-header{
  box-shadow: 0 0 2px #707070;
}
.logo img {
  width: 60px;
  max-width: 100%;
  object-fit: contain;
}
.header-menu,
.header-submenu {
  list-style-type: none;
}
.header-menu li.has-header-submenu{
  position: relative;
}
.header-submenu {
  width: 250px;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 0 2px #707070;
  display: none;
  position: absolute;
  top: 20px;
}
.header-menu li.has-header-submenu:hover .header-submenu{
  display: block;
  transition: 0.3s ease-in-out;
}
.header-menu-item,
.header-submenu-item {
  display: block;
}
.header-menu-item .header-menu-link {
  margin-right: 20px;
  text-transform: uppercase;
}
.header-menu-item .header-menu-link:hover{
  color: #431c53;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}
.header-submenu .header-submenu-link{
  display: block;
  padding: 10px;  
  padding-left: 20px;
  border-bottom: 1px solid #DDDDDD;
}
.header-submenu .header-submenu-item:last-child .header-submenu-link{
  border-bottom: 0;
}
.header-submenu .header-submenu-link:hover{
  color: #fff;
  background-color: #431c53;
  transition: all 0.3s ease-in-out;
}
.header-menu-item .header-menu-link,
.header-submenu .header-submenu-link,
.login {
  font-size: 14px;
  color: #1c1c1c;
}
.search-icon,
.login {
  margin-right: 20px;
}
.search-icon img {
  width: 20px;
  color: #000;
  object-fit: contain;
}
/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-color: #F6F8FA;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-description{
  font-size: 20px;
  color: #1c1c1c;
  font-family: MontserratExtraLight;
}
.hero-title{
  font-size: 82px;
  line-height: 90px;
  color: #431c53;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: MontserratBold;
  position: relative;
}
.hero-title::after{
  position: absolute;
  content: " ";
  width: 100px;
  left: 0;
  bottom: -10px;
  border-bottom: 2px solid #DDDDDD;
}
.hero-text{
  font-size: 18px;
  line-height: 28px;
  color: #1c1c1c;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: MontserratRegular;
}
.hero-img img{
  width: 100%;
  height: 100vh;
  object-fit: contain;
}
/* Stats */
.stats-title{
  color: #1c1c1c;
  font-size: 36px;
  line-height: 73px;
  font-family: BalooBhaina2SemiBold;
}
.stats-text{
  color: #7C7C7C;
  font-size: 16px;
  line-height: 26px;
}
.state-icon{
  width: 40px;
  object-fit: contain;
}
.state-number{
  font-size: 18px;
  line-height: 28px;
  color: #1c1c1c;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: MontserratMedium;
}
.state-title{
  font-size: 16px;
  line-height: 26px;
  color: #1c1c1c; 
  font-family: MontserratRegular;
}
/* collections */
.collection{
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.overlay{
  color: #fff;
  z-index: 9999;
  position: relative;
}
.overlay::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.portrate-collection{
  height: 630px;
  position: relative;
}
.collection .collection-content{
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  z-index: 9999;
}
.collection-title{
  color: #fff;
  font-size: 36px;
  line-height: 46px;
  font-family: BalooBhaina2ExtraBold;
}
.view-collection{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  z-index: 9999;
  border-bottom: 1px solid #fff;
  font-family: MontserratRegular;
}
.collection-btn{
  color: #fff;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  background-color: #1c1c1c;
  font-family: MontserratRegular;
  display: inline-flex;
}
.collection-btn img{
  color: #fff;
  width: 15px;
  margin-left: 5px;
  object-fit: contain;
}
.portrate-collection .move-to-top{
  top: 20px;
  left: 20px;
  position: absolute;
  transform:translate(0,0);
  text-align: left;
}
.portrate-collection .move-to-bottom{
  text-align: left;
  top: 85%;
  left: 20px;
  transform: translate(0,0);
  position: absolute;

}
.account-form{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 50px;
  padding-top: 150px;
  margin-bottom: 100px;
  background-color: #F6F8FA;
}
.account-description{
  font-size: 20px;
  line-height: 32px;
  color: #1c1c1c;
  font-family: MontserratExtraLight;
}
.account-title{
  font-size: 72px;
  line-height: 82px;
  color: #1c1c1c;
  font-family: BalooBhaina2Bold;
  position: relative;
}
.account-title::after{
  position: absolute;
  content: " ";
  width: 100px;
  left: 0;
  bottom: -15px;
  border-bottom: 2px solid #DDDDDD;
}
.account-title strong{
  color: #431c53;
}
.account-text{
  color: #1c1c1c;
  font-size: 18px;
  font-family: MontserratRegular;
}
.form{
  text-align: center;
  padding: 50px 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #DDDDDD;
  position: relative;
  height: fit-content;
  z-index: 999;
}
.form .form-input{
  width: 100%;
  border: none;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 100px;
  text-indent: 5px;
  background-color: #F6F8FA;
}
.form .form-input::placeholder{
  color: #7C7C7C;
  font-size: 14px;
  font-family: MontserratRegular;
}
.form .form-input:focus{
  outline: none;
}
.form .form-title{
  color: #1c1c1c;
  font-size: 28px;
  line-height: 38px;
  font-family: BalooBhaina2Bold;
}
.form .form-description{
  color: #1c1c1c;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: MontserratRegular; 
}
.remember{
  display: flex;
  align-items: center;
}
.form .form-checkbox{
  border-radius: 0;
  border-color: #7C7C7C;
}
.form .form-checkbox-title{
  color: #7C7C7C;
  font-size: 12px;
  font-family: MontserratRegular; 
}
.sign-up-btn{
  display: block;
  color: #fff;
  text-transform: uppercase;
  float: right;
  margin-top: 30px;
}

/* Fashion */
.tabs-main-wrapper {
  width: 100% !important;
}
ul.tabs{
  margin: 0;
}
.tabs li.active {
  background-color: #F6F8FA;
  border-bottom: 3px solid #491E3C;
}
.tabs a {
  font-size: 24px;
  line-height: 34px;
  color: #1c1c1c;
  background-color: #F6F8FA;
  font-family: MontserratMedium;
}
.tabs-container {
  border: 0 ;
  padding: 0;
  background: none;
  border-radius: 0;
}
.fashion-content{
  margin-top: 50px;
  margin-bottom: 20px;
}
.fashion-title{
  color: #DDDDDD;
  font-size: 72px;
  line-height: 82px;
  font-family: BalooBhaina2Bold;
}
.fashion-text{
  font-size: 18px;
  line-height: 28px;
  color: #1c1c1c;
  width: 80%;
  margin-left: auto;
  margin-right: auto; 
  font-family: MontserratRegular;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  padding-bottom: 100px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.fashion-slide{
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper-button-prev{
  position: absolute ;
  left: 0;
  width: auto;
  height: auto;
  color: #1c1c1c;
  padding: 8px 10px 12px;
  background-color: #F6F8FA;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.swiper-button-prev::after{
  font-size: 25px;
}
.swiper-button-next{
  position: absolute ;
  right: 0;
  width: auto;
  height: auto;
  color: #1c1c1c;
  padding: 8px 12px 10px;
  background-color: #F6F8FA;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.swiper-button-next::after{
  font-size: 25px;
}
.fashion-slide-content{
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  transition: border 0.3s ease-in-out;
}
.fashion-slide-title{
  font-size: 18px;
  color: #1c1c1c;
  margin: 0;
  text-align: left;
  font-family: BalooBhaina2Regular;
  transition: all 0.3s ease-in-out;
}
.fashion-slide-price{
  font-size: 14px;
  color: #1c1c1c;
  text-align: left; 
  font-family: MontserratRegular;
}
.fashion-slide-title:hover{
  color: #431c53;
  text-decoration: underline;
}
.fashion-item-icon{
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 20px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
  transition: all 0.3s ease-in-out;
}
.fashion-item-icon img{
  width: 20px;
  object-fit: contain;
}
.fashion-item-icon:hover{
  background-color: #431c53;
}
.fashion-item-icon:hover img{
  filter: invert(91%) sepia(15%) saturate(43%) hue-rotate(177deg) brightness(106%) contrast(95%);
}

/* Events */
.events{
  width: 100%;
  height: 700px;
  background-size: cover;
  background-color: #F6F8FA;
  background-repeat: no-repeat;
  background-position: top center; 
  margin-bottom: 50px;
  position: relative;
}
.event-content{
  position: absolute;
  top: 150px;
  right: 100px;
  text-align: right;
}
.event-description{
  color: #fff;
  font-size: 36px;
  line-height: 46px;
  font-family: BalooBhaina2Bold; 
}
.event-title{
  color: #fff;
  font-size: 112px;
  line-height: 120px;
  font-family: BalooBhaina2Bold; 
}
.event-learn-more-btn{
  color: #fff;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  background-color: #1c1c1c;
  font-family: MontserratRegular;
  display: inline-flex;
}
.event-learn-more-btn img{
  color: #fff;
  width: 15px;
  margin-left: 5px;
  object-fit: contain;
}

/* Posts */
.post-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.post-content{
  padding-top: 10px;
}
.post-description{
  color: #491E3C;
  font-size: 16px;
  line-height: 26px;
  font-family: MontserratMedium;
}
.post-title{
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: MontserratMedium;
}
.post-text{
  color: #7C7C7C;
  font-size: 16px;
  line-height: 26px;
  font-family: MontserratRegular;
}
.post-read-more-btn{
  margin-top: 10px;
  display: inline-block;
  border-bottom: 1px solid #1c1c1c;
  color: #1c1c1c;
  font-size: 16px;
  line-height: 26px;
  font-family: MontserratRegular;
}
/* facilities */
.facility-title{
  color: #1c1c1c;
  font-size: 18px;
  line-height: 32px;
  margin-top: 5px;
  font-family: MontserratMedium; 
}